 .text-gradient {
   background: linear-gradient(270deg, #FDECB0 0%, #CD9400 56.66%, #F9FB32 103.61%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
 }

 .btn-gradient {
   background: linear-gradient(281.31deg, #F9FB32 -7.22%, #CD9400 68.56%, #F9FB32 131.36%);
 }

 ::-webkit-scrollbar {
   width: 12px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px #171714;
   background-color: #2f2f2c;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: linear-gradient(281.31deg, #F9FB32 -7.22%, #CD9400 68.56%, #F9FB32 131.36%);
   border-radius: 10px;
 }

 #tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}